.own-recipes {
    display: flex;
    flex-direction: column;
}

  
.edit-delete {
    width: 100%;
    display: flex;
}

.own-recipes > div > button {
    background-color:rgb(173, 206, 123);
    height: 2.5rem;
    width: 50%;  
    border-bottom: 1px solid black;
}

.own-recipes > div > button:hover {
    background-color: rgb(166, 197, 119);
}

.edit {
    border-radius: 10px 0 0 0;
    border: none;
    border-right: 1px solid black;
}

.delete {
    border-radius: 0 10px 0 0;
    border: none;
    border-left: 1px solid black;
}

.confirm-delete {
    width: 400px;
    height: 200px;
    background-color: rgb(126, 141, 141);
    margin: auto;
}

.add-button {
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
}