.center-h1 {
    text-align: center;
}


.recipes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 40px 10px;
    gap: 50px;
}


.recipes li {
    position: relative;
    z-index: 1;
    background-color: darkkhaki;
    width: 400px;
    height: 300px;
    border-radius: 10px;
    list-style-type: none;
}

.recipe-name {
    position: absolute;
    z-index: 2;
    width: 100%;
    margin: 35% 0;
    background-color: darkkhaki;
    text-decoration: none;
    color: black;
    text-align: center;
}

.recipe-name:hover {
    color: darkgreen;
}

.heartButton {
    position: absolute;
    z-index: 2;
    right: 10px;
    top: 5px;
    background-color: darkkhaki;
    font-size: 1.8rem;
    border: none;
}

.heartButton:hover {
    font-size: 1.7rem;
}

