* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: wheat;
}

form {
  max-width: 500px;
}

header {
  background-color: antiquewhite;
  border-bottom: 1px solid whitesmoke;
}

main {
  padding: 10px;
}

footer {
  background-color: wheat;
}

.nav-link {
  margin-left: 10px;
  text-align: center;
}

.recipes {
  text-decoration: none;
  color: black;
}

.recipes:hover {
  color: darkgreen;
}

.addButton {
  margin-left: 5px;
  margin-top: 5px;
  color: black;
  background-color: green;
}

.link-margin-top {
  margin-bottom: 10px;
}

.button-margin-left {
  margin-left: 10px;
}

.same-line {
  display: flex;
}

.vertical-center-align {
  margin-top: auto;
  margin-bottom: auto;
}

.profile-ul {
  padding: 0;
}