* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: wheat;
}

form {
  max-width: 500px;
}

header {
  background-color: antiquewhite;
  border-bottom: 1px solid whitesmoke;
}

main {
  padding: 10px;
  background-color: wheat;
}

footer {
  background-color: wheat;
}

.nav-link {
  margin-left: 10px;
  text-align: center;
}

.recipes {
  text-decoration: none;
  color: black;
}

.recipes:hover {
  color: darkgreen;
}

.removeButton {
  margin-left: 5px;
  margin-top: 5px;
  color: white;
  background-color: brown;
}

.addButton {
  margin-left: 5px;
  margin-top: 5px;
  color: black;
  background-color: green;
}