* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: wheat;
}

form {
  max-width: 500px;
}

header {
  background-color: antiquewhite;
  border-bottom: 1px solid whitesmoke;
}

main {
  padding: 20px;
}

.nav-link {
  margin-left: 10px;
  text-align: center;
}

.same-line {
  display: flex;
}

.vertical-center-align {
  margin-top: auto;
  margin-bottom: auto;
}

.profile {
  display: grid;
  justify-content: center;
}
